.a_about{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.a_about .a_about_img{
position: absolute;
width: 16% !important;
}
.a_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    background: rgba(140, 136, 136, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_video video{
    width: 90%;
    max-width: 900px;
    height: auto;
    border-radius: 4px;
}
.a_video.hide{
    display: none;
}
.a_about_bottom p{
    font-family: DomaineDisplay, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #003912;
    font-size: 30px;
    line-height: 44px;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1;
    width: 50px;
    height: 50px;
    margin: auto;
    background:rgb(199, 192, 192);
    border-radius: 50%;
    text-align: center !important;
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover{
    background:rgb(199, 192, 192);

}
.carousel .control-prev.control-arrow {
    color: black !important;
}

